*
!/.gitignore
!/README.md
!/LICENSE
!/run_smoke_experiments.py
!/tdsc_route_probe.py
!/ip_generator/
!/ip_generator/*.py
!/single_trace/
!/single_trace/*.py
!/multi_trace/
!/multi_trace/*.py
!/tdsc/
!/tdsc/*.py
!/tdsc/*.yaml
!/tdsc/coverage/
!/tdsc/coverage/*.py
